<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="ErrorFile"
              type="File"
              fileName="Logs/error_${shortdate}.log"
              autoFlush="true"
              keepFileOpen="true"
              archiveEvery="Day"
              archiveFileName="Logs/old_error-${shortdate}.log"
              archiveNumbering="DateAndSequence"
              archiveDateFormat="yyyy-MM-dd"
              archiveAboveSize="1048570"
              layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />
    <target name="File"
            type="File"
            fileName="Logs/log_${shortdate}.log"
            autoFlush="false"
            keepFileOpen="true"
            archiveEvery="Day"
            archiveFileName="Logs/old_log-${shortdate}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="1048570"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />
    <target name="coloredConsole"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

  </targets>

  <rules>
    <logger name="*" Levels="Debug, Info, Warn" writeTo="File" />
    <logger name="*" Levels="Error, Fatal" writeTo="ErrorFile" />
    <logger name="*" minlevel="Info" maxLevel="Fatal" writeTo="coloredConsole"/>
  </rules>
</nlog>